<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap.min.css" />
  <link rel="stylesheet" href="/static/main.css" />

  <!-- Bootstrap fin-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <!-- Select2 -->
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

  <style>
    .gradienttext {
      /* font-size: 72px; */
      background: -webkit-linear-gradient(#FBAE57, #DA554B, #614FAB);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    body {
      background-image: linear-gradient(#FBAE57, #DA554B, #614FAB, white, white);
      padding-top: 150px;
    }

    .dropdown {
      position: relative;
      display: inline-block;
      border-style: solid;
      border-width: 1px;
      border-color: rgba(0, 0, 0, .125);
      padding: 5px;
    }
    .fooditem{
      background-image: linear-gradient(to right, #FBAE57, #DA554B, #614FAB);
       border-color:white;
       color:white;
    }

    a .removec {display: none;}
    a:hover .removec { display: inline; }
    a:hover .incart { display: none; }

    .fooditem:hover{
    content: 'Remove from Cart';
    color: black;
    background-color: transparent;
    background-image: none ; /* Green */
    border-color:black;

    }   
  </style>
</head>

<body onload="displayListItems()">

    <img src="{{url_for('static', filename='grocery_image.png')}}" class="img-fluid rounded mx-auto d-block pl-4"
      alt="..." style="max-height:200px;">
    <h1 style="font-size: 55px; font-family: Futura; color: #4285f4;" class="text-center text-white">
      Bolt Cart
      <!-- <span style="color: #ea4335;">B</span>
        <span style="color: #ea4335;">O</span>
        <span style="color: #34a853;">L</span>
        <span style="color: #ea4335;">T</span> -->
    </h1>

    <br /><br />
    <form action="#">
      <div class="form-group row">
        <div class="col-3">
          <h1 class="text-right text-white">Description</h4>
        </div>
        <div class="col-8">
          <input class="form-control form-control-lg p-3" name="search"
            placeholder="ie. Blue Cheese, Sour Cream, Pork" style="font-size: 12px;" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <h1 class="text-right text-white">Nutrients</h4>
        </div>
        <div class="col-8">
          <select class="form-control tokenizer" name="nutrients" multiple="multiple"
            placeholder="Input the Nutrients you desire">
            {% if nutr_list %} {% for nutr in nutr_list %}
            <option value="{{ nutr[1] }}">{{ nutr[0] }}</option>

            {% endfor %} {% endif %}

          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <h1 class="text-right text-white">Category</h4>
        </div>
        <div class="col-8">
          <select class="form-control tokenizer2" name="cat_search" multiple="multiple">
            {% if cat_list %} {% for cat in cat_list %}

            <option value="{{ cat }}" class="bg-danger">{{ cat }}</option>

            {% endfor %} {% endif %}

          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-3">
          <h1 class="text-right text-white">Allergies</h1>
        </div>
        <div class="col-8">
          <select id="allergies" class="form-control form-control-lg p-3 tokenizer3" name="allergies"
            multiple="multiple">
            {% if allergies %} {% for allergy in allergies %}
            <option value="{{ allergy }}">{{ allergy }}</option>
            {% endfor %} {% endif %}
          </select>
        </div>
      </div>
      <script>

        $('select').select2({
          createTag: function (params) {
            // Don't offset to create a tag if there is no @ symbol
            if (params.term.indexOf('@') === -1) {
              // Return null to disable tag creation
              return null;
            }

            return {
              id: params.term,
              text: params.term,

            }
          }
        });

        $(".tokenizer").select2({
          tags: true,
          tokenSeparators: [',', ' '],
          placeholder: "ie. Protein, Calcium",
          allowClear: true
        })

        $(".tokenizer2").select2({
          tags: true,
          tokenSeparators: [',', ' '],
          placeholder: "ie. Dairy, Snacks, Baby Foods",
          allowClear: true
        })

        $(".tokenizer3").select2({
          tags: true,
          tokenSeparators: [',', ' '],
          placeholder: "ie. Lactose Intolerant",
          allowClear: true
        })



      </script>
      <div class="container ">
        <br><br><br>
        <button type="submit"
          style="  background-image: linear-gradient(to right, #FBAE57, #DA554B, #614FAB); border-color:transparent;"
          class="btn btn-lg btn-block text-white ">Go</button>
      </div>

      <!-- <button type="submit" class="btn btn-info">Go!</button> -->
    </form>

    <br />
    <br />


    <br />
    <br />



    {% if data %}
    <h1 class="text-center text-white">{{output_message}}</h1><br><br>
    <p>
      <!-- {%if que%} -->
      <!-- {{que}} -->
      <!-- {%endif%} -->
    </p>
    <p>
      <!-- {%for nun in nut %} -->
      <!-- {{nut}} -->
      
      <!-- {%endfor%} -->
    </p>
    <p>
      <!-- {%for nan in cat %} -->
      <!-- {{cat}} -->
      
      <!-- {%endfor%} -->
    </p>
    <div class="row">
      <div class="col-5" style="border-style: solid; border-width: thick; border-color:white;">
        <div class="container p-5">
          <div class="row">
            <div class="col-8">
              <h1 class="text-white pb-5">Your Grocery List</h1>
              <!-- <div class="card w-100 mb-5 ml-5 p-2 ">
                <div class="card-body ">
    
                  <h5 class="card-title"> KELLOGG'S, EGGO, Biscuit Scramblers, Bacon, Egg & Cheese </h5>
                  <p class="card-text"> Baked Products</p>
                  <a href="#"  class="btn btn-outline-dark pr-4 pl-4 pt-2 pb-2 w-100 font-weight-bold fooditem">
                    <span class="incart">In Cart &#10003</span>
                    <span class="removec">Remove From Cart &#10007</span>
                  </a>
    
                </div>
              </div> -->
            </div>
            <div class="col-3">
              <button id="cart-clear" onClick="localStorage.clear(); location.reload();"
              class="btn btn-outline-light float-right">Clear</button>
            </div>  
          </div>
          <div id="cart" class="" style="margin-right:80px;"> 
          </div>
        </div>
      </div>

      <div class="col-6 ">
        {% for d in data %}
        <div class="pl-5 container ">
          <div class="card w-100 mb-5 ml-5  pl-5 ">
            <div class="card-body ">

              <h5 class="card-title" id="{{d['Descrip']}}">{{d["Descrip"]}}</h5>
              <p class="card-text" id="{{d['Descrip']}}"> {{d["FoodGroup"]}} </p>

              <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#{{loop.index}}"  data-whatever="{{loop.index}}">
                Nutritional Information
              </button>
        

              <a href="#" onclick="addListItem(this)" class="btn btn-primary pr-4 pl-4 pt-2 pb-2"
                descrip="{{d['Descrip']}}" foodgroup="{{d['FoodGroup']}}"
                style="  background-image: linear-gradient(to right, #FBAE57, #DA554B, #614FAB); border-color:white;">
                Add to Cart
              </a>

              <div class="modal fade" id="{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Nutient</th>
                            <th scope="col">Nutrient Value</th>
                            <th scope="col">Nutrient Unit</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if nutr_list %} {% for nutr in nutr_list %}
                          <tr>
                            <th scope="row">{{ nutr[0] }}</th>
                            <td class="put-data text-center" > {{d[nutr[1]]}} </td>
                            <td class="text-center">{{ nutr[2] }}</td>
                          </tr>
                          {% endfor %} {% endif %}
                        </tbody>
                      </table>
                      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>



    </div>


    {% endif %} {% if data==[] %}
    <h1 class="text-center">There were no results for your search</h1>
    {% endif %}

    <br />
    <br />
    <br/>
    <br/>

  </div>
  <script>
  
    function addListItem(id) {
      console.log(id)
      document.cookie = id.getAttributeNode("descrip").value;
      var cart = document.getElementById("cart");
      var descrip = id.getAttributeNode("descrip").value;
      var foodgroup = id.getAttributeNode("foodgroup").value;

      localStorage.setItem(localStorage.length, descrip + ":" + foodgroup);
      var newItem = document.createElement("div");
      newItem.innerHTML += 
"        <div class=\"card w-100 mb-5 ml-5 p-2 \"><div class=\"card-body\"><h5 class=\"card-title\">" + descrip + "</h5> <p class=\"card-text\">" + foodgroup + "</p><a href=\"#\"  class=\"btn btn-outline-dark pr-4 pl-4 pt-2 pb-2 w-100 font-weight-bold fooditem\"><span class=\"incart\">In Cart &#10003</span><span class=\"removec\">Remove From Cart &#10007</span></a></div></div>";
      cart.appendChild(newItem);
    }

    function displayListItems() {
      for (i = 0; i < localStorage.length; i++) {
        var pair = localStorage[i];
        var split = pair.split(":");
        var newItem = document.createElement("div");
        newItem.innerHTML += 
"        <div class=\"card w-100 mb-5 ml-5 p-2 \"><div class=\"card-body\"><h5 class=\"card-title\">" + split[0] + "</h5> <p class=\"card-text\">" + split[1] + "</p><a href=\"#\"  class=\"btn btn-outline-dark pr-4 pl-4 pt-2 pb-2 w-100 font-weight-bold fooditem\"><span class=\"incart\">In Cart &#10003</span><span class=\"removec\">Remove From Cart &#10007</span></a></div></div>";
        // "<h2>" + split[0] + "</h2> <h3>" + split[1] + "</h3>";
        cart.appendChild(newItem);
      }
    }

  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <div class="container ">
      <div class="">
        <p class="text-center">Project Name: {{ name }} || Student Name: ({{ netid }}) || <a href="{{ url_for('irsystem.search') }}">Prototype 1</a> </p>
        <!-- <p></p> -->
 
      </div>
</body>

</html>